    <div class="container-fluid footer-upper">
      <div class="row">
        <div class="col-md-4">
          <p class="footer-text">
            Central Florida Railway
            Historical Society, Inc.<br/>
            101 South Boyd Street<br/>
            Winter Garden, FL 34787
          </p>
          <p class="footer-text">
            P.O. Box 770567<br/>
            Winter Garden, FL 34777-0567
          </p>
          <p class="footer-text">
            <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;(407) 656-0559
          </p>
          <p class="footer-text">
            <a href="mailto:info@cfrhs.org?subject=Email%20for%20information%20from%20www.cfrhs.org"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;info@cfrhs.org</a> 
          </p>
          <a href="https://www.facebook.com/CentralFloridaRailroadMuseum/"><i class="fa fa-facebook-official fa-2x" aria-hidden="false"></i></a>
        </div>
        <div class="col-md-2 pr-0">
          <p class="footer-text">
            <a routerLink="/">Home</a><br/>
            <a routerLink="/history">Our History</a><br/>
            <a routerLink="/board">Board of Directors</a><br/>
            <a routerLink="/membership">Society Membership</a><br/>
            <a routerLink="/museum">Museum</a><br/>
            <a routerLink="/gallery">Gallery</a><br/>
            <a routerLink="/shop">Gift Shop</a><br/>
            <a routerLink="/newsletter">Newsletter</a><br/>
            <a routerLink="/links">Links</a><br/>
            <a routerLink="/contact">Contact</a><br/>
          </p>
        </div>
        <div class="col-md-3 text-center my-auto">
          <a href="http://www.wghf.org/" target="_blank" rel="noopener noreferrer">
            <img class="logo-wghf" src="assets/images/WGHFlogo.png" alt="Winter Garden Heritage Foundation"/>
            <br/><br/>
            <p class="footer-text">Affiliated with the Winter Garden Heritage Foundation</p>
          </a>
        </div>
        <div class="col-md-3 text-center my-auto">
          <a href="http://www.atrrm.org/" target="_blank" rel="noopener noreferrer">
            <img class="logo-hra" src="assets/images/HeritageRailAllianceLogo.png" alt="Heritage Rail Alliance"/>
            <br/><br/>
            <p class="footer-text">Member of HeritageRail Alliance</p>
          </a>
        </div>
      </div>
    </div>
