
<nav class="navbar sticky-top navbar-toggleable-md">
  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fa fa-bars" aria-hidden="true"></i></span>
  </button> -->
  <span class="navbar-text">&nbsp;</span>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav mr-auto">
      <a activeClass="selected" class="nav-item nav-link" exact routerLink="/">Home</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a activeClass="selected" class="dropdown-item" routerLink="/history">Our History</a>
          <a activeClass="selected" class="dropdown-item" routerLink="/board">Board of Directors</a>
          <a activeClass="selected" class="dropdown-item" routerLink="/membership">Society Membership</a>
        </div>
      </div>
      <a activeClass="selected" class="nav-item nav-link" routerLink="/museum">Museum</a>
      <a activeClass="selected" class="nav-item nav-link" routerLink="/gallery">Gallery</a>
      <a activeClass="selected" class="nav-item nav-link" routerLink="/shop">Gift Shop</a>
      <a activeClass="selected" class="nav-item nav-link" routerLink="/newsletter">Newsletter</a>
      <a activeClass="selected" class="nav-item nav-link" routerLink="/links">Links</a>
      <!-- <a active="selected" class="nav-item nav-link" routerLink="/contact">Contact</a> -->
      <a routerLinkActive="active" class="nav-item nav-link" routerLink="/contact">Contact</a>
      <li routerLink="/contact" routerLinkActive="active" class="nav-item">
        <a class="nav-link">Contact</a>
      </li>
    </div>
    <div class="navbar-brand my-auto">
      <a href="https://www.facebook.com/CentralFloridaRailroadMuseum/"><i class="fa fa-facebook" aria-hidden="false"></i></a>
    </div>
  </div>
</nav>
<br>
<nav class="navbar sticky-top navbar-toggleable-md"> 
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav mr-auto">
      <ul class="navbar-nav">
        <li routerLink="/contact" routerLinkActive="active">
            <a class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<!--      -->
<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/museum">Museum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop">Gift Shop</a>
        </li>
        <li activeClass="selected" class="nav-item nav-link" routerLink="/newsletter">
          <a>Newsletter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/links">Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/history">Our History</a>
            <a class="dropdown-item" href="#">Board of Directors</a>
            <a class="dropdown-item" href="#">Society Membership</a>
          </div>
        </li> -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

      </ul>
    </div>
  </nav>
