<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 col-lg-3">
      <h4 class="text-center mission">Mission Statement</h4>
      <p>
        The Central Florida Railway Historical Society, Inc. promotes railway heritage
        preservation and educates its members and the public about rail transportation, its
        history and impact, with a focus on Central Florida.
      </p>
      <h4 class="text-center meetings">Meetings</h4>
      <p>
        Held the second Monday of each month at 7:00 PM in the Central Florida Railroad Museum, 
        101 South Boyd Street, in downtown historic Winter Garden.
      </p>
      <div class="calendar">
        <a class="btn btn-primary btn-sm" role="button" aria-pressed="true" href="https://calendar.google.com/calendar/htmlembed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=7ud72iu9um3qrqeprt153j36qk%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FNew_York" target="_blank" rel="noopener noreferrer"><i className="fa fa-calendar" aria-hidden="true"></i>&nbsp; Events Calendar</a>
      </div>
    </div>
    <div class="col-md-12 col-lg-8 text-center">
      <img class="img-fluid img-depot" src="assets/images/CFRRMuseum.jpg" alt="Central Florida Railroad Museum"/>
    </div>
  </div>
</div>
